ul , ol{
	list-style: none;
	margin-right: 20px;
}
#google-wrapper{
	height: 100vh;
	position: relative;
	text-align: center;
}
.menu-item{
	display: inline-block;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	margin: auto;	
	margin-top: 13px;
	margin-right: 13px; 
	color: #272727;
	/* could of used padding  */
}

/* spritie sheet can use background images */
.menu-item.grid{
	background-image: url("https://ssl.gstatic.com/gb/images/i1_1967ca6a.png");
	height: 20px;
	width: 30px;
	background-position: -127px -40px;
	/* for background images, you can use the background position property by defualt, background images
	start at 0,0, sometimes you won't want to start there
	*/
}

.menu-item.bell{
	background-image: url("https://ssl.gstatic.com/gb/images/i1_1967ca6a.png");
	height: 24px;
	width: 24px;
	border-radius: 50%;
	background-size: 532px 68px;
	background-position: -194px, -21px;
	background-color: rgba(0, 0, 0, .55);
	padding: 0px;
}
ol{
	text-align: right;
}
.google-logo img{
	height: 92px;

}
#content{
	margin-top: 170px;
}
.search-bar{
	width: 632px;;
	height: 49px;
	margin: auto;
	margin-top: 25px;

	/* anything you have a block level element and add a width you will get a ton of right margin
	margin auto will split it up both sides */
	/* text align will center things inside the element
	margin auto center the lement inside it's parent(outside); */
}
.search-bar input{
	width: 100%;
	height: 100%;
	font-size: 32px;
	padding-left: 20px; /* padding inside of an input will push the input border away from the text */
	border: 1px solid #B9B0B0;
}
.buttons{
	height: 92px;
}
.buttons button{
	width: 150px;
	height: 34px;
	margin-top: 35px;
	background-color: #F7F7F7;
	font-size: 13px;
	outline: none;
}
.mic img{
	height: 15px;
	width: 15px;
	position: relative;
	bottom: 40px;
	left: 290px;
	margin-top: 8px;
}


#footer{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 40px;
	background-color: #F2F2F2;

	/* if the height and the line-height, the text will center vertically, growing out from the middle */

}
.footer-right{
	float: right;

}
.footer-left{
	float: left;
	padding-left: -20px;
	
}